.footer {
  font-size: 12px;
}
strong {
  font-size: 60px;
}
ul {
  list-style: none;
}
.row {
  display: flex;
  margin-bottom: 25px;
}

.col-6 {
  flex: 0 0 80%;
  max-width: 65%;
}

.img-center {
  float: left;
  width: 92px;
  margin-left: 41px;
  margin-top: 18px;
}
.fa-map-marker-alt:hover {
  color: #0056b3;
}
.temp {
  font-size: 75px;
  margin-left: 35px;
}

.bottom-link {
  color: cadetblue;
}
