strong {
  font-size: 60px;
}
ul {
  list-style: none;
}
.row {
  display: flex;
  margin-bottom: 38px;
  flex-wrap: wrap;
  margin-left: -15px;
}

.row-2 {
  flex: 0 0 25%;
  max-width: 16%;
}
.col-6 {
  flex: 0 0 80%;
  max-width: 65%;
}
.card.border.mb-3 {
  border-radius: 8px;
}
.img-center {
  float: left;
  width: 92px;
  margin-left: 41px;
  margin-top: 18px;
}
.fa-map-marker-alt:hover {
  color: #0056b3;
}
.temperature {
  font-size: 75px;
  margin-left: 35px;
}
.btn-success {
  margin-left: 10px;
}
.bottom-link {
  color: cadetblue;
}
