strong {
  font-size: 60px;
}
ul {
  list-style: none;
}
.row {
  display: flex;
  margin-bottom: 25px;
}
.col-2 {
  flex: 0 0 25%;
  max-width: 17.5%;
}

.col-6 {
  flex: 0 0 80%;
  max-width: 65%;
}

.fa-map-marker-alt:hover {
  color: #0056b3;
}
.temp {
  font-size: 72px;
  margin-left: 17px;
}

.bottom-link {
  color: cadetblue;
}
.img {
  margin-left: 10px;
}
.pane-right {
  float: right;
  margin-top: 23px;
  margin-right: 66px;
  font-size: 21px;
}
.footer {
  font-size: 12px;
}
