a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: none;
}

.cel-fahrenheit {
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -38px;
  display: inline;
}

.cel-fahrenheit:hover {
  color: #0056b3;
}
