a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: none;
}

.cel-fahrenheit {
  position: relative;
  top: -94px;
  left: 168px;
}

.cel-fahrenheit:hover {
  color: #0056b3;
}
