.container {
  width: 847px;
  padding: 44px;
  height: 630px;
  font-family: arial, sans-serif;
}

.card-bodyfirstbox {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 20px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
