.weather-app {
  max-width: 720px;
  margin: auto;
}
.container {
  color: black;
  padding: 44px;
  margin-right: auto;
  margin-left: auto;
}

.card-bodyfirstbox {
  box-sizing: border-box;
  padding: 20px;
  padding-top: 20px;
  background-image: linear-gradient(to top, #fff1eb 0%, #c2e6f7 100%);
  border-radius: 4px;
  font-family: arial, sans-serif;
  line-height: 1.2;
  width: 100%;
  height: 500px;
}
